<%- layout('boilerplate') -%>

<h1>Shop smatr, save big!</h1>

<p>Starting point to create </p>

<p>Signup </p>

<h3>Start you search</h3>

<p>Our prices are some of ther best</p>

<h3>Look for smart items?</h3>
<p>These will appear accrost the site as you add to your cart</p>

<h3>Build a smart cart</h3>
<p>buy a lot smart</p>